/*---------Reset-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------common----------*/

.container{
    margin: 0 auto;
    width: 80%;
}

.bordo{
    border: 1px dashed black;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*----------debug----------*/

.debug .header-top{
    background-color: #add8e6;
}

.debug .header-top-menu{
    background-color: #daa520;}

.debug .header-bottom{
    height: 400px;
    background-color: #00008b;
}

.debug .header-bottom div{
    height: 300px;
    background-color: #ee82ee;
}

.debug .row{
    height: 350px;
}

.debug main section:nth-last-child(1) .row{
    height: 500px;
    background-color: #228b22;
}

.debug .col-big{
    background-color: #1e90ff;
}

.debug .col-small{
    background-color: #ffc0cb;
}

.debug footer{
    background-color: #23272a;
}

/*-------header----------*/


/*header top*/
.header-top{
    padding: 10px;
}

.header-top-menu{
    display: flex;
}

.header-top-menu > *{
    border: 1px dashed black;
    padding: 10px;
}

nav{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header-top-menu span{
    flex-grow: 1;
}

.header-top-menu span:nth-child(3){
    text-align: right;
}

/*header-bottom*/

.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom div{
    width: 60%;
}

/*---------/header---------*/

/*-----------main-------------*/

main section:nth-child(even){
    background-color: lightgrey;
}

.row{
    display: flex;
}

main section:nth-child(even) .row{
    flex-direction: row-reverse;
}

.col-big{
    flex-grow: 2;
}

.col-small{
    flex-grow: 1;
}

/*-----------/main-------------*/

/*---------------footer----------------*/

footer{
}

/*---------------/footer----------------*/